.dots-list__ul {
  padding: 0px;
  background-color: #f7f7f7;
}
.dots-list__li {
  margin-bottom: 10px;
  list-style-type: none;
  background-color: #282c34;
  border-radius: 5px;
  cursor: pointer;
}
